{% extends 'main.html' %}
{%load static%}
{% block content%}
<div class="m-3">
    <h2 class="fw-semibold">ALL POST</h2>
    <div class="border border-1 p-3">
        <span><h5 class="">New Post</h5></span>
        <form action="{%url 'home'%}" method="POST" >
        {%csrf_token%}
        <div class="form-floating">
            <textarea class="form-control mb-2" placeholder="Post Something" id="floatingTextarea" name="Post"></textarea>
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
        </form> 
    </div>
    <div class="border border-1 p-3">
        {% for post in allPost %}
        <div class="border border-1 p-3">
        <a href="{%url 'profile' post.author.id%}" class="text-decoration-none"><span ><h5 class="fw-semibold">{{post.author}}</h5></span></a>
      </div>
      <div class="">
        {%if post.author == request.user%}<span class="text-primary edit" data-id="{{post.id}}" id="edit-btn-{{post.id}}">Edit</span>{%endif%}
      </div>
      <span id="post-content-{{post.id}}" class="post">{{post.content}}</span>
      <textarea data-id="{{post.id}}" id="post-edit-{{post.id}}" style="display:none;" class="form-control textarea" row="3">{{post.content}}</textarea>
        <section>
            {{post.created}}
        </section>
        {%for comment in allCom%}
        <div class="border border-1 p-3">
            {%if comment.post.id == post.id%}
            <div class="border border-1 p-3">{{comment.text}} </div><small>Commented by :-{{comment.author}}</small>
            {%endif%}
        </div>
        {%endfor%}
        <div class="like mt-3">

    
          <img
          data-id="{{post.id}}"
          id="post-like-{{post.id}}"
            class="liked"
            {% if not request.user in post.like.all %}
            data-is_liked="no"
            src="https://img.icons8.com/carbon-copy/100/000000/like--v2.png"
    {%else%}
    data-is_liked="yes"
            src="https://img.icons8.com/plasticine/100/000000/like.png"
            {%endif%}
          />
          
          <span id="post-count-{{post.id}}">{{post.likes.count}}</span>
        </div>
        <form action="{%url 'comment' post.id%}" method="POST">
            {%csrf_token%}
            <div class="form-floating">
                <textarea class="form-control mb-2" placeholder="Post Something" id="floatingTextarea" name="comment"></textarea>
                <button type="submit" class="btn btn-primary">Comment</button>
            </div>
            </form> 
        </div>
        {%endfor%}
        <nav aria-label="...">
            <ul class="pagination">
            {%if allPost.has_previous%}
              <li class="page-item ">
                <a class="page-link" href="?page={{allPost.has_previous_page_number}}" tabindex="-1">Previous</a>
              </li>
            {%endif%}
              {%for n in totalpagelist%}
              <li class="page-item ">
                <a class="page-link" href="?page={{n}}">{{n}} <span class="sr-only"></span></a>
              </li>
              {%endfor%}
              {%if allPost.has_next%}
              <li class="page-item ">
                <a class="page-link" href="?page={{allPost.next_page_number}}" tabindex="-1">Next</a>
              </li>
              {%endif%}
            </ul>
          </nav>
        
    </div>
</div>
{% endblock %}
